[submodule "vim/bundle/vim-better-whitespace"]
	path = vim/bundle/vim-better-whitespace
	url = https://github.com/ntpeters/vim-better-whitespace
[submodule "vim/pack/colors/opt/onehalf"]
	path = vim/pack/colors/opt/onehalf
	url = https://github.com/sonph/onehalf.git
[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
