[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
	shallow = true
[submodule "zsh/plugins/zsh-autopair"]
	path = zsh/plugins/zsh-autopair
	url = https://github.com/hlissner/zsh-autopair
	shallow = true
[submodule "zsh/plugins/zsh-syntax-highlighting"]
	path = zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
	shallow = true
[submodule "zsh/plugins/zsh-autosuggestions"]
	path = zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
	shallow = true
[submodule "ohmyzsh"]
	path = ohmyzsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
	shallow = true
[submodule "onehalf"]
	path = onehalf
	url = https://github.com/sonph/onehalf.git
	shallow = true
[submodule "vim/pack/plugins/start/ale"]
	path = vim/pack/plugins/start/ale
	url = https://github.com/w0rp/ale
	shallow = true
[submodule "vim/pack/plugins/start/vim-airline"]
	path = vim/pack/plugins/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
	shallow = true
[submodule "vim/pack/plugins/start/vim-tmux-navigator"]
	path = vim/pack/plugins/start/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator
	shallow = true
[submodule "vim/pack/plugins/opt/ultisnips"]
	path = vim/pack/plugins/opt/ultisnips
	url = https://github.com/sirver/ultisnips
	shallow = true
[submodule "vim/pack/plugins/start/vim-surround"]
	path = vim/pack/plugins/start/vim-surround
	url = https://github.com/tpope/vim-surround
	shallow = true
[submodule "vim/pack/plugins/start/bufexplorer"]
	path = vim/pack/plugins/start/bufexplorer
	url = https://github.com/jlanzarotta/bufexplorer
	shallow = true
[submodule "vim/pack/plugins/start/vim-polyglot"]
	path = vim/pack/plugins/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot
	shallow = true
[submodule "vim/pack/plugins/start/ctrlp.vim"]
	path = vim/pack/plugins/start/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim
	shallow = true
[submodule "vim/pack/plugins/start/vim-commentary"]
	path = vim/pack/plugins/start/vim-commentary
	url = https://github.com/tpope/vim-commentary
	shallow = true
[submodule "vim/pack/plugins/start/vimtex"]
	path = vim/pack/plugins/start/vimtex
	url = https://github.com/lervag/vimtex
	shallow = true
[submodule "vim/pack/plugins/start/delimitmate"]
	path = vim/pack/plugins/start/delimitmate
	url = https://github.com/raimondi/delimitmate
	shallow = true
[submodule "vim/pack/plugins/start/tagbar"]
	path = vim/pack/plugins/start/tagbar
	url = https://github.com/majutsushi/tagbar
	shallow = true
[submodule "vim/pack/plugins/start/vim-repeat"]
	path = vim/pack/plugins/start/vim-repeat
	url = https://github.com/tpope/vim-repeat
	shallow = true
[submodule "vim/pack/plugins/start/vim-easymotion"]
	path = vim/pack/plugins/start/vim-easymotion
	url = https://github.com/easymotion/vim-easymotion
	shallow = true
[submodule "vim/pack/plugins/start/vimux"]
	path = vim/pack/plugins/start/vimux
	url = https://github.com/benmills/vimux
	shallow = true
[submodule "vim/pack/plugins/start/vim-sensible"]
	path = vim/pack/plugins/start/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
	shallow = true
[submodule "vim/pack/plugins/start/vim-signify"]
	path = vim/pack/plugins/start/vim-signify
	url = https://github.com/mhinz/vim-signify.git
	shallow = true
[submodule "vim/pack/plugins/start/vim-fugitive"]
	path = vim/pack/plugins/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
	shallow = true
[submodule "vim/pack/plugins/start/nerdtree"]
	path = vim/pack/plugins/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
	shallow = true
[submodule "nvim/site/pack/plugins/start/nvim-treesitter"]
	path = nvim/site/pack/plugins/start/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter.git
	shallow = true
[submodule "nvim/site/pack/plugins/start/nvim-lspconfig"]
	path = nvim/site/pack/plugins/start/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig.git
	shallow = true
[submodule "nvim/site/pack/plugins/start/nvim-compe"]
	path = nvim/site/pack/plugins/start/nvim-compe
	url = https://github.com/hrsh7th/nvim-compe.git
	shallow = true
